* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  height: 100%;
}
#main {
  width: 100%;
  height: 400px;
}
#main h1 {
  font-size: 40px;
  text-align: center;
}
#main .text,
.img {
  width: 50%;
  height: 400px;
  float: left;
  border: 1px solid gray;
}
.text p {
  font-size: 20px;
  text-align: justify;
  align-items: center;
  padding: 20px;
  background-color: coral;
  width: 100%;
  height: 100%;
}
img {
  height: 100%;
  width: 100%;
  padding: 30px;
}

@media (max-width: 768px) {
  #main .text,
  .img {
    width: 100%; /* Update the width to occupy full width on smaller screens */
    height: auto; /* Remove the fixed height to allow for dynamic height */
    float: none; /* Remove the float */
  }

  .text p {
    font-size: 16px; /* Decrease the font size for smaller screens */
    padding: 10px; /* Adjust the padding for smaller screens */
  }
}

@media (max-width: 480px) {
  #main h1 {
    font-size: 30px; /* Adjust the font size for smaller screens */
  }
}
