body {
  font-family: sans-serif, serif;
}
.table,
p {
  margin-top: 5%;
  margin-bottom: 2%;
}

.form label,
.form input {
  display: inline-block;
  margin-bottom: 10px;
}

.form label {
  width: 80px;
}
.form input {
  width: 180px;
  padding: 5px;
}

.Bullets p {
  font-size: x-large;
  font-weight: bolder;
}
