.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.square {
  width: 120px;
  height: 120px;
}
.app h1 {
  margin-left: 45%;
}
.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.reset-button {
  margin-top: 20px;
}
.game {
  margin-left: 35%;
}
